.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 10px;
}

.search-input {
  padding: 10px 40px;
  border-radius: 50px;
  border: 3px solid #fff;
  background: transparent;
  margin: 10px 0;
  width: 80%;
  font-size: 1.4rem;
}

.search-input::placeholder {
  color: #fff;
}

.topbar-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0 20px;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #6c8cff;
}
